<!-- <div  class="parnet1 fragment" th:fragment="parent1(x,y)">

    <h1>THis is parent fragment</h1>
    <h1> this is <span th:text="${x}"></span></h1>
    <h1> this is <span th:text="${y}"></span></h1>
 
</div> -->

<div  class="parnet fragment" th:fragment="parent(content)">

    <h1>THis is parent fragment</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos.</p>
  <div th:replace="${content}"></div>
 
</div>


<div   th:fragment="test">

  <h1> this is testing fragment</h1>
 
</div>

<!-- xmlns:th="https://www.thymeleaf.org" -->